__pycache__/helpers.cpython-37.pyc
__pycache__/sf_bulk_api.cpython-37.pyc
__pycache__/sf_rest_api.cpython-37.pyc
logs/all.log
logs/error.log
logs/info.log
logs/all.log.1
logs/all.log.2
logs/all.log.3
logs/all.log.4
logs/all.log.5
logs/all.log.6
logs/all.log.7
logs/all.log.8
logs/all.log.10
logs/all.log.9
